@import url(http://fonts.googleapis.com/css?family=Muli:400,300italic);

html, body, #map {
  width: 100%;
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body  {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: darkblue;
}

text {
  z-index: 3000;
}

#graphs {
  left: 10px;
}

.chartOverview rect {
  fill: #EE513F;
}

.chartOverview text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.chartLabel {
  fill: black;
  font: 12px sans-serif;
  text-anchor: end;
  text-indent: 54px;
}

.yaxis path,line {
  fill: none; 
  stroke: black; 
  stroke-width; 1; 
}

.xaxis path,line {
  fill: none;
  stroke: black;
  stroke-width; 1;
}

#dashes { 
  position: absolute;
  left: 70px; 
  top: 116px;
  z-index: 3000;
}

ul#day {
  list-style: none;
}

#day li {
  width: 500px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 35px;
  border-bottom: 1px solid #aeaeae;
}

#day li.selected {
  background-color: lightblue;
}

#sunrise {
  position: absolute;
  top: 305.375px;
  left: 5px;
  color: #666;
  font-size: -1;
}

#sunset {
  position: absolute;
  top: 714.425px;
  left: 5px;
  color: #666;
  font-size: -1;
}

.tripdata {
  display: inline;
}

.leaflet-routing-container {
  display: none;
}

#rootwizardtop img {
  width: 35px;
  height: 35px;
}

#rootwizardbottom img {
  height: 35px;
}
/*
.leaflet-control-layers {
  display: inline;
  position: absolute;
  bottom: 3px;
}
.leaflet-control-scale {
  display: inline;
  position: absolute;
  bottom: 8px;
  left: 75px;
}
*/
#gender_play_form {
  position: absolute;
  top: 20px;
  left: 600px;
  display: inline;
}

#usertype_play_form {
  position: absolute;
  top: 120px;
  left: 600px;
  display: inline;
}

#age_play_form {
  position: absolute;
  top: 200px;
  left: 600px;
  display: inline;
}

#scale {
  position: absolute;
  left: 100%;
  right: 100%;
  bottom: 2px;
  z-index: 2000;
}

#playbackError {
  color: red;
}

.sidebar-header {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  font-weight:200;
  margin-bottom:0.7em;
/*  background: #373737;
  color: #f7f7f7;
  opacity:0.80;*/
}

/*h2.sidebar-header {
  padding:0.3em;
}
*/

.inline {
  display: inline;
}

#facebookG{
position: relative;
width:128px
margin: auto;
}

.facebook_blockG{
background-color:#FFFFFF;
border:3px solid #000000;
height:91px;
width:24px;
margin: auto;
opacity:0.1;
float: left;
-moz-animation-name:bounceG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#blockG_2{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#blockG_3{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}

#weather {
  position: absolute;
  top: 10px;
  z-index: 3000;
  left: 60px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 16pt;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.60); 
}

#date {
  font-size: 8pt;
  font-weight: bold;
  position: absolute;
  top: 35px;
  left: 67px;

}

#colorrange {
  position: absolute;
  bottom: 10px;
  left: 100px;
  z-index: 3000;
}

#colorrange img {
  height: 30px;
}

#overload-control {
  position: absolute;
  bottom: 50px;
  left: 100px;
  z-index: 3000;
  background-color: rgba(255, 255, 255, 0.80);
  width: 280px
}

#overload-control .ui-button {
  height: 22px;
  font-size: 12pt;
}
 
#overload-control .ui-button-text {
  font-size: 8pt;
} 
